/*通用*/
*{ margin: 0; padding: 0; list-style: none; font-family: 微软雅黑;}
body{background:#efefef;overflow-x: hidden; overflow-y: hidden; }
a{ text-decoration: none; color: #333;font-size:12px;cursor: pointer;}
input{ outline: none; border: 1px solid #ccc;}
select{ outline: none;}

/*顶部工具栏*/
.toolbar{height:38px;border-bottom:1px solid #c1c1c1;background:#e3e8ea;line-height:38px;position: absolute;top:0px;left:0px;width:100%;z-index:10;}
.toolbar dl{font-size: 12px;display: inline-block;line-height: 38px;}
.toolbar .appName{font-size:14px;padding-left: 10px;width:127px;color:#04b5a5; }
.toolbar .goBack{width:35px;border-right:1px solid #c1c1c1;}
.toolbar .goBack a{color:#999;}
.toolbar .toolsBtn{vertical-align: middle;padding:5px;line-height:26px;}
.toolbar .toolsBtn a{width:30px;border:1px solid #c1c1c1;height:26px;display: inline-block;text-align: center;background:#f7f7f7;color:#9f9f9f;}
.toolbar .toolsBtn a:hover{color:#04b5a5;border:1px solid #afcecb;}
.toolbar .assistBtn{vertical-align: middle;padding:5px;line-height:26px;width:230px;float: right;text-align: right}
.toolbar .assistBtn a{width:30px;height:26px;display: inline-block;text-align: center;line-height:26px;color:#9f9f9f; }
.toolbar .assistBtn a:hover{color:#04b5a5;}

/*左侧组件*/
.components{width:180px;border-right:1px solid #c1c1c1;position: absolute;top:39px;left:0px;z-index:10;}
.components .top{background:#fff;line-height:38px;text-align: center}
.components .nav{width:auto;border-top:1px solid #c1c1c1;background:#e8e8e8;padding:0px 6px;}
.components .nav a{width:auto;height:38px;display:inline-block;padding:0px 14px;line-height:38px;font-size:22px;color:#999;}
.components .nav a:hover{color:#04b5a5;}
.components .nav .active{background:#f7f7f7;color:#04b5a5; }
.components .area{min-height:100px;height:auto;overflow-y:auto;overflow-x:hidden;width:auto;padding:0px 10px;display:none;background:#f7f7f7; }
.components .area dl{width:auto;display: inline-block;text-align: center;padding:10px 0px;width:66px;text-align: center }
.components .area dl a{width:60px;text-align:center;display:inline-block;border: 1px solid #e8e8e8;height:38px;line-height:38px;
    background:#fff;color:#9f9f9f;font-size:20px;}
.components .area dl a:hover{color:#04b5a5;border:1px solid #cde2e0;}
.components .active{display:block;}
.components .bot{height:38px;width:auto;padding:0px 10px;background:#e3e8ea; }
.components .bot dl{width:auto;display: inline-block;text-align: center;padding:6px 0px;width:66px;text-align: center }
.components .bot dl a{width:60px;text-align:center;display:inline-block;height:26px;line-height:26px;color:#999;font-size:20px;}
.components .bot dl a:hover{color:#04b5a5;}

/*中间场景*/
.screens{width:auto;width:auto;padding:38px 240px 0px 180px;}
.screens .workbench{width:100%;height:auto;margin:0px;padding:0px 0px 0px 0px;overflow-x:auto;overflow-y:auto;min-width:260px;}
.screens .workbench .canvas_up{position:fixed; padding-left:30px;height:30px;
    border-bottom: 1px solid rgb(153, 153, 153); z-index: 9999; background-color: white;z-index:2;}
.screens .workbench .canvas_dow{position: fixed; margin-top:30px; width:30px;
border-right: 1px solid rgb(153, 153, 153); z-index: 9999; background-color: white;z-index:2;}
.screens .workbench .design{margin:0px auto;width:300px;padding-top:60px; }
.screens .workbench .design .box{width:282px;height:auto;min-height:400px;border:1px solid #c2c2c3;padding:19px 19px 12px 19px;border-radius:10px;background:#e3e8ea;}
.screens .workbench .design .box .canvas{
    width:282px;height:400px;border:1px solid #c2c2c3;background:#f0f0f2;);
}
.screens .workbench .design .box .bar{height:20px;padding-top:4px;text-align: center;position: relative;}
.screens .workbench .design .box .bar a{display:inline-block;height:20px;font-size:18px;}
.screens .workbench .design .box .bar a:hover{color:#04b5a5;}
.screens .workbench .design .box .bar .color{width:20px}
.screens .workbench .design .box .bar .size{width:200px;}
.screens .workbench .design .box .bar .img{width:20px;}

/*右侧面板*/
.panel{width:280px;border-left:1px solid #c1c1c1;position:absolute;top:39px;right:0px;z-index:10;}
.panel .nav{width:auto;background:#e8e8e8;padding:0px 6px;}
.panel .nav a{width:auto;height:38px;display:inline-block;padding:0px 14px;line-height:38px;font-size:18px;color:#999;}
.panel .nav a:hover{color:#04b5a5;}
.panel .nav .active{background:#f7f7f7;color:#04b5a5; }

.panel .area{min-height:100px;height:auto;display:none;background:#f7f7f7; }
.panel .active{display:block;}
.panel .area .top{padding:0px 10px;overflow-y:auto;overflow-x:hidden;width:auto;}
.panel .area .top dl{width:auto;display: inline-block;text-align: center;padding:10px 0px;width:66px;text-align: center }
.panel .area .top dl a{width:60px;text-align:center;display:inline-block;border: 1px solid #e8e8e8;height:38px;line-height:38px;
    background:#fff;color:#9f9f9f;font-size:20px;}
.panel .area .top dl a:hover{color:#04b5a5;border:1px solid #cde2e0;}
.panel .area .bot{height:38px;width:auto;padding:0px 10px;background:#e3e8ea;}
.panel .area .bot dl{width:auto;display: inline-block;text-align: center;padding:6px 0px;width:40px;text-align: center }
.panel .area .bot dl a{width:26px;text-align:center;display:inline-block;height:26px;line-height:26px;background:#fff;color:#999;}
.panel .area .bot dl a:hover{color:#04b5a5;background:#fff;}



/*组件属性*/
.componentAttribute{height: auto;}
.componentAttribute .row{height:auto;padding:6px 0px;margin:0px; border-bottom: 1px dotted #ccc;}
.componentAttribute .row h5{font-size:12px;padding:0px;margin: 0px;height:20px;color:#9f9f9f;width:100%;}
.componentAttribute .row dd{height:auto;padding:1px 0px;display:inline-block;margin:0px;line-height:22px;margin:0px;}
.componentAttribute .row dd input{font-size:12px;color:#9f9f9f;height:16px;line-height:16px;margin:0px;padding:0px;border:1px solid #ccc;}
.componentAttribute .row dd label{text-align:right;float:left;color:#9f9f9f;font-size:12px;padding-right:3px; }
.componentAttribute .row dd .select{color:#9f9f9f;font-sze:12px;border:1px solid #ccc;}
.componentAttribute .row dd .label1{width:50px;}
.componentAttribute .row dd .label2{width:50px;}
.componentAttribute .row dd .label4{width:14px;}
.componentAttribute .row dd .input1{width:220px;}
.componentAttribute .row dd .input2{width:60px;}
.componentAttribute .row dd .input4{width:36px;}
.componentAttribute .row dd .select1{width:180px;}
.componentAttribute .row dd .select2{width:60px;}
